In [2]:
from pandas import DataFrame
import numpy as np

In [3]:
d = DataFrame(np.arange(16).reshape(4,4))
d

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
f = lambda x: x+10
d.apply(f)

    0   1   2   3
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [6]:
f2 = lambda x: x*x
d.apply(f2)

     0    1    2    3
0    0    1    4    9
1   16   25   36   49
2   64   81  100  121
3  144  169  196  225