In [1]:
import numpy as np
import pandas as pd
from pandas import Series

In [2]:
fruit_names = pd.read_csv('fruit_prices.csv',usecols=['Fruit']).squeeze("columns")
fruit_names

0                         Apples
1             Apples, applesauce
2         Apples, ready-to-drink
3     Apples, frozen concentrate
4                       Apricots
                 ...
57                   Raspberries
58                   Raspberries
59                  Strawberries
60                  Strawberries
61                    Watermelon
Name: Fruit, Length: 62, dtype: object

In [3]:
fruit_prices = pd.read_csv('fruit_prices.csv',usecols=['RetailPrice']).squeeze("columns")
fruit_prices

0     1.5193
1     1.0660
2     0.7804
3     0.5853
4     2.9665
       ...
57    6.6391
58    4.1877
59    2.5800
60    2.8189
61    0.3604
Name: RetailPrice, Length: 62, dtype: float64

In [4]:
prices = [100,200,300,400,500]
prices_series = pd.Series(prices)
prices_series

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [5]:
def summer_discount(x):
    return x - (x*0.1)

In [6]:
prices_series.apply(summer_discount)

0     90.0
1    180.0
2    270.0
3    360.0
4    450.0
dtype: float64

In [9]:
scores = pd.Series([56,78,91,34,23,43,59])
def pass_or_fail(num):
    if num>=35:
        return "Pass"
    else:
        return "Fail"
result = scores.apply(pass_or_fail)
result

0    Pass
1    Pass
2    Pass
3    Fail
4    Fail
5    Pass
6    Pass
dtype: object

In [11]:
result.value_counts(normalize=True)

Pass    0.714286
Fail    0.285714
Name: proportion, dtype: float64

In [12]:
fruit_names.apply(len)

0      6
1     18
2     22
3     26
4      8
      ..
57    11
58    11
59    12
60    12
61    10
Name: Fruit, Length: 62, dtype: int64