In [13]:
from pandas import Series
from pandas import DataFrame
import numpy as np

In [2]:
s = Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
s1 = Series(np.arange(10),index=[['a','a','b','b','b','c','c','d','e','e'],[1,2,1,2,3,1,2,1,1,2]])
s1

a  1    0
   2    1
b  1    2
   2    3
   3    4
c  1    5
   2    6
d  1    7
e  1    8
   2    9
dtype: int32

In [8]:
s1['b'][3]

4

In [9]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 1),
            ('e', 1),
            ('e', 2)],
           )

In [10]:
#partial indexing
s1['b']

1    2
2    3
3    4
dtype: int32

In [11]:
s1['a':'c']

a  1    0
   2    1
b  1    2
   2    3
   3    4
c  1    5
   2    6
dtype: int32

In [12]:
s1.unstack()

     1    2    3
a  0.0  1.0  NaN
b  2.0  3.0  4.0
c  5.0  6.0  NaN
d  7.0  NaN  NaN
e  8.0  9.0  NaN

In [14]:
data_frame = DataFrame(np.arange(15).reshape(5,3),index=['a','b','c','d','e'])
data_frame

    0   1   2
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [15]:
data_frame.stack()

a  0     0
   1     1
   2     2
b  0     3
   1     4
   2     5
c  0     6
   1     7
   2     8
d  0     9
   1    10
   2    11
e  0    12
   1    13
   2    14
dtype: int32