In [1]:
import numpy as np
import pandas as pd
from pandas import Series

In [2]:
fruit_names = pd.read_csv('fruit_prices.csv',usecols=['Fruit']).squeeze("columns")
fruit_names

0                         Apples
1             Apples, applesauce
2         Apples, ready-to-drink
3     Apples, frozen concentrate
4                       Apricots
                 ...
57                   Raspberries
58                   Raspberries
59                  Strawberries
60                  Strawberries
61                    Watermelon
Name: Fruit, Length: 62, dtype: object

In [3]:
fruit_prices = pd.read_csv('fruit_prices.csv',usecols=['RetailPrice']).squeeze("columns")
fruit_prices

0     1.5193
1     1.0660
2     0.7804
3     0.5853
4     2.9665
       ...
57    6.6391
58    4.1877
59    2.5800
60    2.8189
61    0.3604
Name: RetailPrice, Length: 62, dtype: float64

In [6]:
fruit_names.iloc[0] = "Orange"
fruit_names

0                         Orange
1             Apples, applesauce
2         Apples, ready-to-drink
3     Apples, frozen concentrate
4                       Apricots
                 ...
57                   Raspberries
58                   Raspberries
59                  Strawberries
60                  Strawberries
61                    Watermelon
Name: Fruit, Length: 62, dtype: object

In [8]:
fruit_names[[1,2,3]]=["Peach","Pineapple","Watermelon"]
fruit_names

0           Orange
1            Peach
2        Pineapple
3       Watermelon
4         Apricots
          ...
57     Raspberries
58     Raspberries
59    Strawberries
60    Strawberries
61      Watermelon
Name: Fruit, Length: 62, dtype: object

In [9]:
s=pd.Series([10,20,30,40],index=['apple','banana','cherry','date'])
s

apple     10
banana    20
cherry    30
date      40
dtype: int64

In [11]:
s.loc['banana'] = 200
s

apple      10
banana    200
cherry     30
date       40
dtype: int64

In [12]:
s.loc[['apple','cherry']] = [1,3]
s

apple       1
banana    200
cherry      3
date       40
dtype: int64

In [13]:
s.loc['banana':'date'] = [25,35,45]
s

apple      1
banana    25
cherry    35
date      45
dtype: int64