In [1]:
from pandas import Series
from pandas import DataFrame
import numpy as np

In [2]:
products = DataFrame({'name':['phone','laptop','tablet'],'price':[200,300,100]})
products

     name  price
0   phone    200
1  laptop    300
2  tablet    100

In [3]:
products.sum()

name     phonelaptoptablet
price                  600
dtype: object

In [4]:
products.count()

name     3
price    3
dtype: int64

In [5]:
products.describe()

       price
count    3.0
mean   200.0
std    100.0
min    100.0
25%    150.0
50%    200.0
75%    250.0
max    300.0