**Creating Numpy Array**

In [1]:
import numpy as np

In [2]:
arr=np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [3]:
prices = [10,20,30,40]
prices_array = np.array(prices)
prices_array

array([10, 20, 30, 40])

In [4]:
names = ['John','Matt','Rob']
names_array = np.array(names)
names_array

array(['John', 'Matt', 'Rob'], dtype='<U4')

In [5]:
names_array[0]

'John'

In [6]:
mullti_array = np.array([[1,2,3],[4,5,6]])
mullti_array

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
mullti_array[0]

array([1, 2, 3])

In [8]:
mullti_array[0][1]

2

In [9]:
mullti_array[1][2]

6

In [10]:
mullti_array.ndim

2

In [11]:
names_array.ndim

1

In [12]:
mullti_array.dtype

dtype('int32')

In [13]:
names_array.dtype

dtype('<U4')

**Array Type Convention**

In [16]:
auto_array = np.zeros(10)
auto_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [17]:
auto_array.dtype

dtype('float64')

In [18]:
auto_array=auto_array.astype(np.int64)
auto_array

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [19]:
array = np.array([1,2,3,4],dtype=np.float64)
array

array([1., 2., 3., 4.])

In [20]:
array.dtype

dtype('int32')

In [23]:
array = array.astype(np.int64)

In [24]:
array

array([1, 2, 3, 4], dtype=int64)

**Arithmetic Operations**

In [26]:
list_a = [[1,2,3],[4,5,6]]
list_b = [[7,8,9],[10,11,12]]
array_a = np.array(list_a)
array_b = np.array(list_b)

In [27]:
array_a

array([[1, 2, 3],
       [4, 5, 6]])

In [28]:
array_b

array([[ 7,  8,  9],
       [10, 11, 12]])

In [29]:
array_a + array_b

array([[ 8, 10, 12],
       [14, 16, 18]])

In [30]:
array_a * array_b

array([[ 7, 16, 27],
       [40, 55, 72]])